* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
}

header {
	
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s;
}

header:hover {
    background-color: #444;
}

a href {
	color:black;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s;
}

.nav-item {
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: #555;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card1 {
    background-color: #ccc; /* сіра секція */
}

.card2 {
    background-color: #e0e0e0; /* світло-сіра секція */
}

.card3 {
    background-color: #ffcccb; /* кольорова секція */
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s;
}

footer:hover {
    background-color: #444;
}